{% extends "base.layout.html" %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col table-header">
                <h3>Przyloty - aktualizacja<br>Przylot z ID: {{ arrival.id }}</h3>
                {% if is_date_changed %}
                    <p>Czas przylotu zmieniony z <b>{{ timestamp_old }}</b> na <b>{{ timestamp_new }}</b></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid create-new-container">
        <a href="{{ url_for('flights.arrivals') }}">
            <button type="button" class="btn btn-secondary">Powrót</button>
        </a>
    </div>

{% endblock %}

{% block content %}

    <div class="container form">
        {% if is_date_changed %}
            <h5>Uwaga! Edytowanie przylotu spowoduje usunięcie wszystkich rezerwacji przypisanych do niego w tym
                momencie.</h5>
        {% endif %}
        <form method="post" class="row g-3">
            {{ form.hidden_tag() }}
            {% if is_date_changed %}
            <div class="col-lg-6">
                {{ form.pas.label(class_='form-label') }}
                {{ form.pas(class_='form-control') }}
            </div>
            {% endif %}
            <div class="col-lg-6">
                {{ form.linia_lotnicza.label(class_='form-label') }}
                {{ form.linia_lotnicza(class_='form-control') }}
            </div>
            <div class="col-lg-6">
                {{ form.model.label(class_='form-label') }}
                {{ form.model(class_='form-control') }}
            </div>
            <div class="col-lg-6">
                {{ form.liczba_pasazerow.label(class_='form-label') }}
                {{ form.liczba_pasazerow(class_='form-control') }}
            </div>
            <div class="col-lg-12">
                {{ form.lotnisko.label(class_='form-label') }}
                {{ form.lotnisko(class_='form-control') }}
            </div>
            <div class="col-12">
                {{ form.submit(class_='btn btn-warning') }}
            </div>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>

        var mInput = document.getElementById('model')
        var pInput = document.getElementById('liczba_pasazerow')

        var dict = {}
        {% for model in models %}
            dict[{{ model.id }}] = {{ model.liczba_miejsc }}
        {% endfor %}

        pInput.setAttribute('max', dict[mInput.value])

        mInput.addEventListener('change', function () {
            pInput.setAttribute('max', dict[mInput.value])
        })
    </script>
{% endblock %}