{% extends "table.layout.html" %}


{% block page_header %}

    <h3>PRODUCENCI</h3>

{% endblock %}


{% block button_add_new %}

    <div class="container-fluid create-new-container">
        <a href="{{ url_for('flights.new_manufacturer') }}">
            <button id="add-new-manufacturer" type="button" class="btn btn-success">Nowy producent</button>
        </a>
    </div>

{% endblock %}


{% block thead %}

    {% for header in manufacturers_headers %}
        <th>{{ header }}</th>
    {% endfor %}
    <th>Opcje</th>

{% endblock %}


{% block tbody %}

    {% for manufacturer in manufacturers_data %}
        <tr>
            <td>{{ manufacturer.id }}</td>
            <td>{{ manufacturer.nazwa }}</td>
            <td>{{ manufacturer.kraj }}</td>
            <td>
                <a href="{{ url_for('flights.update_manufacturer', manufacturer_id=manufacturer.id) }}"
                   class="icon-edit-table">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <button id="delete{{ manufacturer.id }}" class="icon-delete-table">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
    {% endfor %}

{% endblock %}


{% block custom_js %}
    <script>
        {# BUTTONS IN DATATABLE - DELETING MANUFACTURER #}
        {% for manufacturer in manufacturers_data %}

            $('#example tbody').on('click', '#delete{{ manufacturer.id }}', function () {
                Swal.fire({
                    title: 'Czy na pewno chcesz usunąć: {{ manufacturer.nazwa }}?',
                    text: "Nie będziesz mógł cofnąć tej dezycji!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        post("{{ url_for('flights.delete_manufacturer') }}", {manufacturer_id: {{ manufacturer.id }}})
                    }
                })
            })
        {% endfor %}
    </script>
{% endblock %}
