{% extends "base.layout.html" %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col table-header">
                <h3>Pasy startowe - dodawanie nowego pasa</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid create-new-container">
        <a href="{{ url_for('runways.runways') }}">
            <button type="button" class="btn btn-secondary">Powrót</button>
        </a>
    </div>

{% endblock %}

{% block content %}

    <div class="container form">
        <form method="post" class="row g-3">
            {{ form.hidden_tag() }}
            <div class="col-md-6">
                {{ form.nazwa.label(class_='form-label') }}
                {{ form.nazwa(class_='form-control', placeholder='Nazwa') }}
            </div>
            <div class="col-md-6">
                {{ form.dlugosc.label(class_='form-label') }}
                {{ form.dlugosc(class_='form-control', placeholder='2500') }}
            </div>
            <div class="col-12">
                {{ form.opis.label(class_='form-label') }}
                {{ form.opis(class_='form-control', placeholder='Pas wykorzystywany do...') }}
            </div>
            <div class="col-12">
                {{ form.submit(class_='btn btn-success') }}
            </div>
        </form>
    </div>

{% endblock %}