{% extends "table.layout.html" %}


{% block page_header %}

    <h3>MODELE SAMOLOTÓW</h3>

{% endblock %}


{% block button_add_new %}

    <div class="container-fluid create-new-container">
        <a href="{{ url_for('flights.new_model') }}">
            <button id="add-new-manufacturer" type="button" class="btn btn-success">Nowy model samolotu</button>
        </a>
    </div>

{% endblock %}


{% block thead %}

    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
    <th>Opcje</th>

{% endblock %}


{% block tbody %}

    {% for model in models_data %}
        <tr>
            <td>{{ model.id }}</td>
            <td>{{ model.nazwa }}</td>
            <td>{{ model.liczba_miejsc }}</td>
            <td>{{ model.predkosc }}</td>
            <td>{{ model.producent.nazwa }}</td>
            <td>
                <a href="{{ url_for('flights.update_model', model_id=model.id) }}"
                   class="icon-edit-table">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <button id="delete{{ model.id }}" class="icon-delete-table">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
    {% endfor %}

{% endblock %}


{% block custom_js %}
    <script>
        {# BUTTONS IN DATATABLE - DELETING MANUFACTURER #}
        {% for model in models_data %}

            document.getElementById("delete{{ model.id }}").addEventListener("click", function () {
                Swal.fire({
                    title: 'Czy na pewno chcesz usunąć: {{ model.producent.nazwa }} {{ model.nazwa }}?',
                    text: "Nie będziesz mógł cofnąć tej dezycji!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        post("{{ url_for('flights.delete_model') }}", {model_id: {{ model.id }}})
                    }
                })
            })
        {% endfor %}
    </script>
{% endblock %}
