/*body {*/
/*    text-align: center;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

#main-buttons {
    padding: 2% 10%;
    position: relative;
    text-align: center;
}

#map {
    width: 100%;
    height: 100%;
}

.page-header {
    padding: 1%;
    text-align: center;
}

.main-button {
    border: thin darkgray groove;
    border-radius: 10px;
    padding: 5% 0;
    margin: 2%;
}

.icon {
    padding: 2%;
    color: #11bee9;
}

.main-button-click {
    text-decoration: none;
    color: #000000;
}

.main-button-click:hover {
    color: #000000;
}

.icon-calendar-table {
    text-decoration: none;
    background: transparent;
    border: none !important;
    color: #11bee9;
    margin: 6%;
}

.icon-calendar-table:hover {
    color: #11bee9;
}


.icon-edit-table {
    text-decoration: none;
    background: transparent;
    border: none !important;
    color: yellowgreen;
}

.icon-edit-table:hover {
    color: yellowgreen;
}

.icon-delete-table {
    text-decoration: none;
    background: transparent;
    border: none !important;
    color: red;
}

.icon-delete-table:hover {
    color: red;
}

.icon-check-table {
    text-decoration: none;
    background: transparent;
    border: none !important;
    color: green;
}

.icon-check-table:hover {
    color: green;
}

.map-container {
    height: 80vh;
}

.create-new-container {
    padding: 0 7%;
    text-align: center;
}

.date-filter {
    padding: 1%;
}

.table-header {
    padding: 2%;
}

.table-container {
    padding: 3% 7%;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.form-field-description {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding: 1%;
}

.count-dashboard {
    text-align: center;
    padding: 0 30%;
}

#passengerCount {
    color: #11bee9;
}

/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}