{% extends "base.layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block page_header %}

    <div class="container-fluid">
        <h1 class="page-header">PANEL STEROWANIA</h1>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid count-dashboard">
        <div class="col">
            <div class="row">
                {% if passengers_count %}
                    <h4>W okresie {{ date }} obsłużono</h4>
                    <h1 id="passengerCount">{{ passengers_count }}</h1>
                    <h4>pasażerów</h4>
                    <form method="POST" style="padding: 4%">
                        <div class="input-group">
                            <input type="text" id="date-picker" name="date" class="form-control"
                                   placeholder="Wybierz zakres daty...">
                            <button type="submit" class="btn btn-success">Filtruj wyniki</button>
                        </div>
                    </form>
                {% else %}
                    <h4>Wybierz zakres daty</h4>
                    <form method="POST" style="padding: 4%">
                        <div class="input-group">
                            <input type="text" id="date-picker" name="date" class="form-control"
                                   placeholder="Wybierz zakres daty...">
                            <button type="submit" class="btn btn-success">Filtruj wyniki</button>
                        </div>
                    </form>

                {% endif %}


            </div>
            <div class="row">

            </div>
        </div>

    </div>



{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        {# DATEPICKER #}
        flatpickr("#date-picker", {
            mode: "range",
            enableTime: true,
            time_24hr: true,
            dateFormat: 'Y-m-d H:i'
        });

    </script>
{% endblock %}