{% extends "base.layout.html" %}
{% block head %}
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
{% endblock head %}

{% block content %}
    <div class="container-fluid map-container">
        <div id="map"></div>
    </div>
{% endblock content %}

{% block js %}

    <script>
        var data = [{
            type: 'scattergeo',
            lat: [52.4, -37.81],
            lon: [16.93, 144.97],
            mode: 'lines',
            line: {
                width: 3,
                color: 'green'
            }
        }];

        var layout = {
            title: 'Poznań to Melbourne',
            showlegend: false,
            {#width: 1900,#}
            {#height: 800,#}
            autosize: true,
            geo: {

                // resolution: 5,
                projection: {
                    type: 'orthographic'
                },
                showcountries: true
                // scope: "europe"
                // lataxis: {
                //     range: [20, 60],
                //     showgrid: true,
                //     tickmode: 'linear',
                //     dtick: 10
                // },
                // lonaxis: {
                //     range: [-100, 20],
                //     showgrid: true,
                //     tickmode: 'linear',
                //     dtick: 20
                // }
            }
        };

        var config = {responsive: true}

        Plotly.newPlot('map', data, layout, config);

    </script>
{% endblock js %}
