{% extends "base.layout.html" %}


{% block page_header %}

    <div class="container-fluid">
        <h1 class="page-header">LOTY</h1>
        <h3>Wybierz opcję</h3>
    </div>
{% endblock %}

{% block content %}

    <div id="main-buttons">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    {# TODO: zmienic na flights.departures#}
                    <a href="{{ url_for('flights.main') }}" class="main-button-click">
                        <div id="departures-button" class="main-button">
                            <i id="departures-icon" class="icon fa-sharp fa-solid fa-plane-departure fa-4x"></i>
                            <h3>Odloty</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    {# TODO: zmienic na flights.arrivals#}
                    <a href="{{ url_for('flights.main') }}" class="main-button-click">
                        <div id="arrivals-button" class="main-button">
                            <i id="arrivals-icon" class="icon fa-solid fa-plane-arrival fa-4x"></i>
                            <h3>Przyloty</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="{{ url_for('flights.airports') }}" class="main-button-click">
                        <div id="airports-button" class="main-button">
                            <i id="airports-icon" class="icon fa-sharp fa-solid fa-city fa-4x"></i>
                            <h3>Lotniska</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="{{ url_for('flights.models') }}" class="main-button-click">
                        <div id="airplanes-button" class="main-button">
                            <i id="airplanes-icon" class="icon fa-sharp fa-solid fa-plane fa-4x"></i>
                            <h3>Modele samolotów</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="{{ url_for('flights.airlines') }}" class="main-button-click">
                        <div id="airlines-button" class="main-button">
                            <i id="airlines-icon" class="icon fa-solid fa-globe fa-4x"></i>
                            <h3>Linie lotnicze</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="{{ url_for('flights.manufacturers') }}" class="main-button-click">
                        <div id="manufacturers-button" class="main-button">
                            <i id="manufacturers-icon" class="icon fa-solid fa-industry fa-4x"></i>
                            <h3>Producenci</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        buttons = [
            document.getElementById("departures-button"),
            document.getElementById("arrivals-button"),
            document.getElementById("airports-button"),
            document.getElementById("airplanes-button"),
            document.getElementById("airlines-button"),
            document.getElementById("manufacturers-button")
        ]
        icons = [
            document.getElementById("departures-icon"),
            document.getElementById("arrivals-icon"),
            document.getElementById("airports-icon"),
            document.getElementById("airplanes-icon"),
            document.getElementById("airlines-icon"),
            document.getElementById("manufacturers-icon")
        ]

        classToAdd = "fa-beat"
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].onmouseover = function () {
                icons[i].classList.add(classToAdd);
            }
            buttons[i].onmouseleave = function () {
                icons[i].classList.remove(classToAdd);
            }
        }

    </script>
{% endblock %}