{% extends "base.layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col table-header">
                <h3>Airports - add new airport</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="container form">
        <form method="post" class="row g-3">
            {{ form.hidden_tag() }}
            <div class="col-12">
                {{ form.nazwa.label(class_='form-label') }}
                {{ form.nazwa(class_='form-control', placeholder='') }}
            </div>
            <div class="col-md-6">
                {{ form.miasto.label(class_='form-label') }}
                {{ form.miasto(class_='form-control') }}
            </div>
            <div class="col-md-6">
                {{ form.kraj.label(class_='form-label') }}
                {{ form.kraj(class_='form-control') }}
            </div>
            <div class="col-md-6">
                {{ form.iatacode.label(class_='form-label') }}
                {{ form.iatacode(class_='form-control') }}
            </div>
            <div class="col-md-6">
                {{ form.icaocode.label(class_='form-label') }}
                {{ form.icaocode(class_='form-control') }}
            </div>
            <div class="col-md-6">
                {{ form.longitude.label(class_='form-label') }}
                {{ form.longitude(class_='form-control') }}
            </div>
            <div class="col-md-6">
                {{ form.latitude.label(class_='form-label') }}
                {{ form.latitude(class_='form-control') }}
            </div>
            <div class="col-12">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
    </div>

{% endblock %}