{% extends "base.layout.html" %}
{% block head %}
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
{% endblock head %}

{% block page_header %}

    <div class="container-fluid">
        <h3 class="page-header">MAPA LOTÓW</h3>
        <h5><span style="color: #d60f09">Odloty</span> / <span style="color: #ebd915">Przyloty</span></h5>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid map-container">
        <div id="map"></div>
    </div>
{% endblock content %}

{% block js %}

    <script>
        const data = [];
        {% for flight in arrivals %}
            var c = {
                type: 'scattergeo',
                lat: [ {{ coordinates['lat'] }}, {{ flight.lotnisko.latitude }}],
                lon: [ {{ coordinates['lon'] }}, {{ flight.lotnisko.longitude }}],
                hovertext: ['Poznan', '{{ flight.lotnisko.nazwa }}'],
                mode: 'lines',
                line: {
                    width: 3,
                    color: '#ebd915'
                },
                name: '{{ flight.lotnisko.nazwa }}'
            };
            data.push(c);
        {% endfor %}
        {% for flight in departures %}
            var c = {
                type: 'scattergeo',
                lat: [ {{ coordinates['lat'] }}, {{ flight.lotnisko.latitude }}],
                lon: [ {{ coordinates['lon'] }}, {{ flight.lotnisko.longitude }}],
                hovertext: ['Poznan', '{{ flight.lotnisko.nazwa }}'],
                mode: 'lines',
                line: {
                    width: 3,
                    color: '#d60f09'
                },
                name: '{{ flight.lotnisko.nazwa }}'
            };
            data.push(c);
        {% endfor %}

        const layout = {
            showlegend: true,
            autosize: true,
            geo: {

                // resolution: 5,
                projection: {
                    type: 'orthographic'
                },
                showcountries: true,
                showocean: true,
                oceancolor: 'rgb(127, 205, 255)',
                showland: true,
                landcolor: 'rgb(93, 169, 55)'
            }
        };

        var config = {responsive: true}

        Plotly.newPlot('map', data, layout, config);


        let arrName = ["trace1", "trace2"];
        let arrColors = ["#FF0000", "#0000FF"];
        // I get the Legend component object
        let legendObj = document.getElementById("LegendComponentId");
        // I set my legend with one of its functions using JQuery
        $(legendObj).SetLegend(arrNames, arrColors);

    </script>
{% endblock js %}
