{% extends "base.layout.html" %}
{% block head %}

{% endblock head %}

{% block content %}
    <div id="main-buttons">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                    <a href="{{ url_for('flights.main') }}" class="main-button-click">
                        <div class="main-button">
                            <i class="icon fa-sharp fa-solid fa-plane-up fa-4x"></i>
                            <h3>Flights</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="{{ url_for('flights.world_map') }}" class="main-button-click">
                        <div class="main-button">
                            <i class="icon fas fa-solid fa-earth-americas fa-4x"></i>
                            <h3>Map</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="{{ url_for('home') }}" class="main-button-click">
                        <div class="main-button">
                            <i class="icon fa-solid fa-person fa-4x"></i>
                            <h3>Passengers</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="{{ url_for('home') }}" class="main-button-click">
                        <div class="main-button">
                            <i class="icon fa-sharp fa-solid fa-road fa-4x"></i>
                            <h3>Runways</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block js %}
{% endblock js %}
