{% extends "base.layout.html" %}
{% block head %}

{% endblock head %}

{% block page_header %}
    <h1>Airport Manager</h1>
    <h3>Wybierz moduł</h3>
{% endblock %}


{% block content %}

    <div id="main-buttons">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <a href="{{ url_for('flights.main') }}" class="main-button-click">
                        <div id="flights-button" class="main-button">
                            <i id="flights-icon" class="icon fa-sharp fa-solid fa-plane-up fa-4x"></i>
                            <h3>Loty</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="{{ url_for('flights.world_map') }}" class="main-button-click">
                        <div id="map-button" class="main-button">
                            <i id="map-icon" class="icon fas fa-solid fa-earth-americas fa-4x"></i>
                            <h3>Mapa</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="{{ url_for('passengers.main') }}" class="main-button-click">
                        <div id="passengers-button" class="main-button">
                            <i id="passengers-icon" class="icon fa-solid fa-person fa-4x"></i>
                            <h3>Pasażerowie</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="{{ url_for('runways.main') }}" class="main-button-click">
                        <div id="runways-button" class="main-button">
                            <i id="runways-icon" class="icon fa-sharp fa-solid fa-road fa-4x"></i>
                            <h3>Pasy startowe</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block js %}
    <script>
        buttons = [
            document.getElementById("flights-button"),
            document.getElementById("map-button"),
            document.getElementById("passengers-button"),
            document.getElementById("runways-button")
        ]
        icons = [
            document.getElementById("flights-icon"),
            document.getElementById("map-icon"),
            document.getElementById("passengers-icon"),
            document.getElementById("runways-icon")
        ]

        classToAdd = "fa-beat"
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].onmouseover = function () {
                icons[i].classList.add(classToAdd);
            }
            buttons[i].onmouseleave = function () {
                icons[i].classList.remove(classToAdd);
            }
        }

    </script>

{% endblock js %}
