{% extends 'base.layout.html' %}

{% block content %}

    <p class="text-center">Registration Panel</p>

    <div class="container form">
        <hr>
        <br>
        <form action="/register" method="post">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.login.label }}
                {{ form.login }}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <br>

            <div class="form-group">
                {{ form.submit(class='btn btn-primary') }}
            </div>

        </form>
    </div>
{% endblock content %}