{% extends "base.layout.html" %}

{% block page_header %}

    <div class="container-fluid">
        <h1 class="page-header">BILETY</h1>
        <h3>Wybierz opcję</h3>
    </div>

{% endblock %}


{% block content %}

    <div id="main-buttons">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    {# TODO: zmienic url na tickets.tickets #}
                    <a href="{{ url_for('tickets.main') }}" class="main-button-click">
                        <div id="tickets-button" class="main-button">
                            <i id="tickets-icon" class="icon fa-solid fa-ticket fa-4x"></i>
                            <h3>Bilety</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    {# TODO: zmienic url na tickets.classes #}
                    <a href="{{ url_for('tickets.main') }}" class="main-button-click">
                        <div id="classes-button" class="main-button">
                            <i id="classes-icon" class="icon fa-solid fa-star fa-4x"></i>
                            <h3>Klasy</h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    {# TODO: zmienic url na tickets.passengers #}
                    <a href="{{ url_for('tickets.main') }}" class="main-button-click">
                        <div id="passengers-button" class="main-button">
                            <i id="passengers-icon" class="icon fa-sharp fa-solid fa-person-walking-luggage fa-4x"></i>
                            <h3>Pasażerowie</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        buttons = [
            document.getElementById("passengers-button"),
            document.getElementById("classes-button"),
            document.getElementById("tickets-button")
        ]
        icons = [
            document.getElementById("passengers-icon"),
            document.getElementById("classes-icon"),
            document.getElementById("tickets-icon")
        ]

        classToAdd = "fa-beat"
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].onmouseover = function () {
                icons[i].classList.add(classToAdd);
            }
            buttons[i].onmouseleave = function () {
                icons[i].classList.remove(classToAdd);
            }
        }

    </script>

{% endblock %}