{% extends "base.layout.html" %}

{% block head %}
    {#datatables css#}
    {#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>#}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col table-header">
                <h3>LOTNISKA</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid create-new-container">
        <button id="add-new-airport" type="button" class="btn btn-success">Nowe lotnisko</button>
    </div>


    <div class="container-fluid table-container">
        <table id="example" class="display" style="width:100%">
        {# TODO: zmiana opisu tabelki (show entries, search, showing entries, previous, next ...) na język polski #}

            <thead>
            <tr>
                {% for header in airports_headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            {% for airport in airports_data %}
                <tr>
                    {% for value in airport %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td>
                        <a href="{{ url_for('flights.update_airport', airport_id=airport[0]) }}" class="icon-edit-table">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <button id="delete{{ airport[0] }}" class="icon-delete-table">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block js %}
    {#datatables js#}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>

        document.getElementById("add-new-airport").addEventListener("click", function () {
            Swal.fire({
                title: "Podaj kod IATA nowego lotniska",
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'on'
                },
                showCancelButton: true,
                cancelButtonText: 'Powrót',
                confirmButtonText: 'Dalej',
                showLoaderOnConfirm: true
            }).then((result) => {
                if (result.isConfirmed) {
                    {#redirect to flights.new_airport with icaocode as a parameter#}
                    window.location.href = "{{ url_for('flights.new_airport') }}?iatacode=" + result.value
                }
            })
        })

        $(document).ready(function () {
            $('#example').DataTable();
        });

        {% for airport in airports_data %}

            document.getElementById("delete{{ airport[0] }}").addEventListener("click", function () {
                Swal.fire({
                    title: 'Czy na pewno chcesz usunąć: {{ airport[1] }}?',
                    text: "Nie będziesz mógł cofnąć tej dezycji!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Usunięto!',
                            'Lotnisko zostało usunięte',
                            'success'
                        ).then(function () {
                            window.location.href = "{{ url_for('flights.delete_airport', airport_id=airport[0]) }}"
                        })
                    }
                })
            })

        {% endfor %}


    </script>
{% endblock %}
