{% extends "base.layout.html" %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col table-header">
                <h3>Lotniska - dodawanie nowego lotniska</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid create-new-container">
        <a href="{{ url_for('flights.airports') }}">
            <button type="button" class="btn btn-secondary">Powrót</button>
        </a>
    </div>

{% endblock %}

{% block content %}

    <div class="container form">
        <form method="post" class="row g-3">
            {{ form.hidden_tag() }}
            <div class="col-12">
                {{ form.nazwa.label(class_='form-label') }}
                {{ form.nazwa(class_='form-control', placeholder='Nazwa', value=lotnisko.nazwa) }}
            </div>
            <div class="col-md-6">
                {{ form.miasto.label(class_='form-label') }}
                {{ form.miasto(class_='form-control', placeholder='Miasto', value=lotnisko.miasto) }}
            </div>
            <div class="col-md-6">
                {{ form.kraj.label(class_='form-label') }}
                {{ form.kraj(class_='form-control', placeholder='Kraj', value=lotnisko.kraj) }}
            </div>
            <div class="col-md-6">
                {{ form.iatacode.label(class_='form-label') }}
                {{ form.iatacode(class_='form-control', placeholder='IATA', value=lotnisko.iatacode) }}
            </div>
            <div class="col-md-6">
                {{ form.icaocode.label(class_='form-label') }}
                {{ form.icaocode(class_='form-control', placeholder='ICAO', value=lotnisko.icaocode) }}
            </div>
            <div class="col-md-6">
                {{ form.longitude.label(class_='form-label') }}
                {{ form.longitude(class_='form-control', placeholder='Longitude', value=lotnisko.longitude if lotnisko.longitude) }}
            </div>
            <div class="col-md-6">
                {{ form.latitude.label(class_='form-label') }}
                {{ form.latitude(class_='form-control', placeholder='Latitude', value=lotnisko.latitude if lotnisko.latitude) }}
            </div>
            <div class="col-12">
                {{ form.submit(class_='btn btn-success') }}
            </div>
        </form>
    </div>

{% endblock %}