{% extends "base.layout.html" %}

{% block page_header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col table-header">
                <h3>Lot {{ flight_id }} - dodawanie nowej rezerwacji</h3>
                <p>Termin rezerwacji: od <b>{{ sd }}</b> do <b>{{ ed }}</b></p>
            </div>
        </div>
    </div>
    <div class="container-fluid create-new-container">
        <a href="{{ url_for('flights.flight_reservations', flight_id=flight_id) }}">
            <button type="button" class="btn btn-secondary">Powrót</button>
        </a>
    </div>

{% endblock %}

{% block content %}

    <div class="container form">
        <form method="post" class="row g-3">
            {{ form.hidden_tag() }}
            <div class="col-md-12">
                {{ form.pas.label(class_='form-label') }}
                {{ form.pas(class_='form-control') }}
            </div>
            <div class="col-12">
                {{ form.submit(class_='btn btn-success') }}
            </div>
        </form>
    </div>

{% endblock %}