{% extends "table.layout.html" %}


{% block page_header %}

    <h3>REZERWACJE DLA LOTU {{ flight_id }}</h3>
    <h4>Termin lotu: {{ flight_date }}</h4>

    <a href="{{ url_for('flights.main') }}">
        <button class="btn btn-secondary">LOTY</button>
    </a>

{% endblock %}


{% block button_add_new %}

    <div class="container-fluid create-new-container">
        <button id="add-new-reservation" type="button" class="btn btn-success">Nowa rezerwacja</button>
    </div>

{% endblock %}


{% block thead %}

    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
    <th>Opcje</th>

{% endblock %}


{% block tbody %}

    {% for reservation in data %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.poczatek }}</td>
            <td>{{ reservation.koniec }}</td>
            <td>{{ reservation.pas.nazwa }}</td>
            <td>
                <button id="update{{ reservation.id }}" class="icon-edit-table">
                    <i class="fa-solid fa-pen"></i>
                </button>
                {% if data|length > 1 %}
                    <button id="delete{{ reservation.id }}" class="icon-delete-table">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

{% endblock %}


{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/flight-reservations.js') }}"></script>
    <script>

        {# ADDING NEW RESERVATION BUTTON #}
        document.getElementById("add-new-reservation").addEventListener("click", function () {
            selectReservationDates("{{ url_for('flights.flight_reservations_check_dates', flight_id=flight_id) }}")
        })

        {# BUTTONS IN DATATABLE - DELETING #}
        {% for reservation in data %}

            $('#example tbody').on('click', '#update{{ reservation.id }}', function () {
                updateReservationDates("{{ url_for('flights.flight_reservations_update', flight_id=flight_id, reservation_id=reservation.id) }}")
            })

            $('#example tbody').on('click', '#delete{{ reservation.id }}', function () {
                Swal.fire({
                    title: 'Czy na pewno chcesz usunąć rezerwację o ID:\n{{ reservation.id }}?',
                    text: "Nie będziesz mógł cofnąć tej dezycji!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        post("{{ url_for('flights.flight_reservations_delete') }}", {
                            flight_id: {{ flight_id }},
                            reservation_id: {{ reservation.id }}
                        })
                    }
                })
            })
        {% endfor %}
    </script>
{% endblock %}
